node_modules/
.DS_Store
.env
.env.development
.env.production
.env.staging
.next/
dist/
.local/
apps/api/scripts/sql/generated/
apps/mobile/node_modules
**/.expo/
*.jks
*.keystore
google-services.json
GoogleService-Info.plist
